@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 223 224 219;
  --fg: 30 30 28;
  --acc: 198 196 189;
  --border: 30 30 28 / 0.15;
  --line: 30 30 28 / 0.1;
  --bgEnd: 223 224 219;
}

.dark {
  --bg: 30 30 28;
  --fg: 241 245 249;
  --acc: 67 65 61;
  --border: 223 224 219 / 0.1;
  --line: 255 255 255 / 0.1;
  --bgEnd: 147 140 130;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}

h1, h2 {
  font-family: 'League Spartan', sans-serif ;
  /* color: #DFE0DB; */
}

p {
  /* color:#DFE0DB; */
}



/* фон:

bg-[rgb(var(--bg))] 

текст:
text-[rgb(var(--fg))] 

глобально на все заголовки:
style={{ fontFamily: "League Spartan, sans-serif" }}

прозрачный текст:

className="
    font-league font-[500] uppercase tracking-[-0.01em] text-[35px] xl:text-[44px] leading-[1] text-transparent [-webkit-text-stroke:2px_rgb(var(--fg))] 
  " 
 */
