@tailwind base;
@tailwind components;
@tailwind utilities;

/* твои стили ниже */
:root {
  --bg: 223 224 219;
  --fg: 30 30 28;
}

.dark {
  --bg: 30 30 28;
  --fg: 241 245 249;
}

html,
body {
  height: 100%
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}