@tailwind base;
@tailwind components;
@tailwind utilities;

/* Приклад токенів кольорів */
:root {
  --bg: 255 255 255;        /* білий */
  --fg: 15 23 42;           /* slate-900 */
}

.dark {
  --bg: 15 23 42;           /* slate-900 */
  --fg: 241 245 249;        /* slate-100 */
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}
