@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 223 224 219;
  --fg: 30 30 28;
}

.dark {
  --bg: 30 30 28;
  --fg: 241 245 249;
}

html,
body {
  height: 100%
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}



/* фон:

bg-[rgb(var(--bg))] 

текст:
text-[rgb(var(--fg))] 

глобально на все заголовки:
style={{ fontFamily: "League Spartan, sans-serif" }}

прозрачный текст:

className="
    font-league font-semibold uppercase tracking-[-0.01em] text-[35px] xl:text-[44px] leading-[1] text-transparent [-webkit-text-stroke:2px_rgb(var(--fg))] 
  " 
 */
